<ion-view title="Aircon" id="page2" style="background-color:#F2EDD8;">
    <ion-content padding="true" class="has-header">
        <form id="aircon-form1" class="list">
            <label class="item item-select" id="aircon-select1" name="brand">
                <span class="input-label">Brand</span>
                <select>
                    <option>Blue Star</option>
                    <option>Carrier</option>
                    <option>Daikin</option>
                    <option>Electrolux</option>
                    <option>Godrej</option>
                    <option>L.G.</option>
                    <option>O General</option>
                    <option>Panasonic</option>
                </select>
            </label>
            <label class="item item-select" id="aircon-select2">
                <span class="input-label">Model</span>
                <select>
                    <option>2009</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                </select>
            </label>
            <label class="item item-select" id="aircon-select3" name="type">
                <span class="input-label">type</span>
                <select>
                    <option>Window</option>
                    <option>Split</option>
                    <option></option>
                </select>
            </label>
        </form>
        <button id="aircon-button1" class="button button-energized  button-block">Pair Me</button>
    </ion-content>
</ion-view>