<ion-view title="Body" id="page4" style="background-color:#F2EDD8;">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 46px;"></div>
        <h1 id="body-heading1" style="color:#000000;text-align:center;">31.02 C°</h1>
        <div id="body-markdown1" style="color:#000000;text-align:center;">
            <p>
                <strong>Body Temperature</strong>
            </p>
        </div>
        <ion-list id="body-list5">
            <ion-item class="item-icon-right" id="body-list-item11">Battery
                <i class="icon ion-battery-half"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>