<ion-view title="Home" hide-back-button="true" id="page1" style="background-color:#F2EDD8;">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <h1 id="home-heading2" style="color:#000000;text-align:center;">TEMPO</h1>
        <div id="home-markdown2" style="color:#000000;text-align:center;">
            <p>
                <strong>Control your A/C the Smartway</strong>
            </p>
        </div>
    </ion-content>
</ion-view>