<ion-view title="Remote Control" id="page5" style="background-color:#F2EDD8;">
    <ion-content padding="true" class="has-header">
        <div id="remoteControl-button-bar2" class="button-bar"></div>
        <form id="remoteControl-form4" class="list">
            <ion-toggle toggle-class="toggle-positive" id="remoteControl-toggle2">Manual</ion-toggle>
        </form>
        <h3 id="remoteControl-heading3" style="color:#000000;text-align:center;">A/C Temperature</h3>
        <form id="remoteControl-form3" class="list">
            <ion-item class="range range-positive" id="remoteControl-range1">
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <h3 id="remoteControl-heading4" style="color:#000000;text-align:center;">Mode</h3>
            <div id="remoteControl-button-bar1" class="button-bar">
                <button id="remoteControl-button2" class="button button-energized  button-block">Fan</button>
                <button id="remoteControl-button3" class="button button-energized  button-block">Cool</button>
                <button id="remoteControl-button4" class="button button-energized  button-block">Turbo</button>
            </div>
            <ion-toggle toggle-class="toggle-positive" id="remoteControl-toggle3">Sweep</ion-toggle>
        </form>
        <h3 id="remoteControl-heading6" style="color:#000000;text-align:center;">Switch</h3>
        <form id="remoteControl-form5" class="list">
            <ion-radio id="remoteControl-radio3">On</ion-radio>
            <ion-radio id="remoteControl-radio4">Off</ion-radio>
        </form>
    </ion-content>
</ion-view>